@model UserViewModel
@{
    ViewData["Title"] = "Profile";
    TempData["currentNav"] = "Index";
    string role = Model.RoleName ?? "";
}

<div class="row g-0">
    <div class="col-md-4 gradient-custom text-center text-white"
         style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
         <h4 class="text-success mt-2">
            @if (role == RoleConstant.THUY_TO)
            {
                <i class="bi bi-emoji-expressionless-fill"></i>
            }
            else if (role == RoleConstant.ADMIN)
            {
                <i class="bi bi-emoji-sunglasses-fill"></i>
            }
            else
            {
                <i class="bi bi-emoji-smile-fill"></i>
            }
            @role
         </h4>
        <img id="avatar" src="@(Model.Avatar ?? "/src/img/UserAvatars/default_avatar.png")"
             alt="Avatar" class="mt-4 mb-4 avatar avatar-profile" />
        <p id="avatar-text" style="display:none;">Thay Avatar</p>
        <p hidden></p>
        <input type="file" class="pb-2 edit-elements" id="edit-avatar" style="display:none;" value=""/>
        <h5 id="display-name">@Model.DisplayName</h5>
        <input type="text" class="form-control edit-elements" id="edit-name" style="display:none;" value="">
        <input type="text" id="avatar-url-input" style="display:none;" value="@(Model.Avatar ?? "")">
    </div>
    <div class="col-md-8">
        <div class="card-body p-4">
            <h6>Thông tin</h6>
            <hr class="mt-0 mb-4">
            <div class="row pt-1">
                <div class="col-6 mb-3">
                    <h6>Email</h6>
                    <p class="text-muted">@Model.Email
                        @if (!Model.EmailConfirmed)
                        {
                            <span class="text-danger">(Chưa xác thực)</span>
                        }
                    </p>
                </div>
                <div class="col-6 mb-3">
                    <h6>Phone</h6>
                    <p id="phone" class="text-muted user-infor">@Model.PhoneNumber</p>
                    <input type="text" class="form-control edit-elements" id="edit-phone" style="display:none;" value="">
                </div>
            </div>
            <hr class="mt-0 mb-4">
            <div class="row pt-1">
                <div class="col-6 mb-3">
                    <h6>Phim yêu thích nhất</h6>
                    <p id="fav-movie" class="text-muted user-infor">@Model.FavoriteMovie</p>
                    <input type="text" class="form-control edit-elements" id="edit-fav-movie" style="display:none;" value="">
                </div>
                <div class="col-6 mb-3">
                    <h6>Sở thích</h6>
                    <p id="hobby" class="text-muted user-infor">@Model.Hobby</p>
                    <input type="text" class="form-control edit-elements" id="edit-hobby" style="display:none;" value="">
                </div>
            </div>

            <button id="edit-button" class="btn btn-success">Chỉnh sửa Profile</button>
            <button id="save-button" class="btn btn-success" style="display:none;">Lưu</button>
            <button id="cancel-button" class="btn btn-danger" style="display:none;">Hủy</button>
        </div>
    </div>
</div>

@section Scripts{
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="/js/Account/UserEdit.js"></script>
}
