@model CategoryViewModel
@{
	ViewData["Title"] = Model.Name;
}

@if (Model.Description != null)
{
	<h1 class="text-success mt-5 mb-2">Thể loại: @Model.Name</h1>
	<div class="px-3 py-2" style="background-color: #423e3e">
		<p>@Model.Description</p>
	</div>
}
else
{
	<h1 class="text-success my-5">Thể loại: @Model.Name</h1>
}

<h2 class="text-success mt-5">Phim : </h2>
<partial name="_MovieContainerPartial" for="@Model.Movies"></partial>

@{
	PagingModel pagingModel = new PagingModel
			{
				NumberOfPages = Model.Movies.TotalPage,
				CurrentPage = Model.Movies.CurrentPage,
				Callback = (int page) => Url.Action(
					(ViewData["Action"] ?? "Index").ToString(),
					"Category",
					new
					{
						area = "",
						page = page,
						value = ViewData["RouteValue"]
					})
			};
}

<partial name="/Views/Shared/_PagingPartial.cshtml" for="@pagingModel"></partial>