<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PhimStrong</title>
    <meta name="keywords" content="@ViewData["Title"]">
    <meta name="description" content="@ViewData["Description"]">

    @if (ViewData["Image"] != null)
    {
        string imgUrl = $"https://phimstrong.azurewebsites.net{@ViewData["Image"]}";
        <meta property="og:image" content="@imgUrl">
    }

    <meta property="og:description" content="@ViewData["Description"]">
    <meta property="og:type" content="movie">

    <meta name="google-site-verification" content="tGzoIej4l8VlsP0u74gdlqxe2cQ-hdMWwKYvukYggCA" />

    <link rel="icon" href="~/src/img/Logo/LogoIcon.png">
    <link rel="stylesheet" href="~/css/BootswatchTheme.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PhimStrong.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    @await RenderSectionAsync("Css", required: false)
</head>
<body>
    <!-- Facebook comment -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v15.0&appId=704182008049475&autoLogAppEvents=1" nonce="ocr3C23S"></script>
   
    <header>
        @await Component.InvokeAsync("HeaderNavBar")
    </header>

    <!-- Scroll to top button -->
    <div id="scroll-top-btn" class="scroll-top-btn" role="button">
        <i class="bi bi-arrow-up-circle-fill"></i>
    </div>
    
    <div class="container mb-4" style="min-height: 100vh">
        <main role="main" class="pb-3">
            <partial name="_Notification"></partial>

            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="border-top footer text-muted" style="position: initial">
        <div class="container">
            <div class="row row-cols-md-5 row-cols-sm-4 row-cols-2 mt-3">
                <div class="d-md-block d-none">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PhimStrong</a>
                </div>
                <div class="d-sm-block d-none">
                    <h5 class="text-success d-block">Phim Mới</h5>
                    <a href="/category/hành động" class="my-link">Phim hành động</a>
                    <a href="/category/viễn tưởng" class="my-link">Phim viễn tưởng</a>
                    <a href="/category/hài hước" class="my-link">Phim hài hước</a>
                    <a href="/category/tâm lý" class="my-link">Phim tâm lý</a>
                    <a href="/category/kinh dị" class="my-link">Phim kinh dị</a>
                </div>
                <div class="d-sm-block d-none">
                    <h5 class="text-success d-block">Phim Hay</h5>
                    <a href="/country/âu mỹ" class="my-link">Phim Âu Mỹ</a>
                    <a href="/country/hàn quốc" class="my-link">Phim Hàn Quốc</a>
                    <a href="/country/nhật bản" class="my-link">Phim Nhật Bản</a>
                    <a href="/country/trung quốc" class="my-link">Phim Trung Quốc</a>
                    <a href="/country/việt nam" class="my-link">Phim Việt Nam</a>
                </div>
                <div>
                    <h5 class="text-success d-block">Trợ Giúp</h5>
                    <a class="my-link">Hỏi Đáp</a>
                    <a class="my-link" asp-area="" asp-controller="Home" asp-action="Contact">Liên Hệ</a>
                    <a class="my-link">Tin Tức</a>
                </div>
                <div>
                    <h5 class="text-success d-block">Thông Tin</h5>
                    <a class="my-link" asp-area="" asp-controller="Home" asp-action="PhimStrongApi">PhimStrong APIs</a>
                    <a class="my-link" asp-area="" asp-controller="Home" asp-action="TermsOfUse">Điều khoản sử dụng</a>
                    <a class="my-link" asp-area="" asp-controller="Home" asp-action="Privacy">Chính sách riêng tư</a>
                    <a class="my-link" asp-area="" asp-controller="Home" asp-action="License">Khiếu nại bản quyền</a>
                    <p>&copy; 2023 - PhimStrong</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
