@model List<string>
@inject AppDbContext Db
@{
    // Khởi tạo list category
    var categoryList = new List<string>();
    Db.Categories.ToList().ForEach(c =>
    {
        categoryList.Add(c.Name);
    });
}

<div class="hidden-category" hidden>
    @foreach (string c in Model)
    {
        <p>@c</p>
    }
</div>

<div id="modal-category" class="modal" tabindex="-1" role="dialog" style="display:none; background-color:rgba(0,0,0,0.5)">
    <div class="modal-category-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success">Chọn các thể loại</h5>
                <button onclick="hideModalCategory()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <p class="text-success">
                Thể loại đã chọn :
                <strong id="categories-text">@String.Join(", ", Model)</strong>
            </p>
            <div class="d-flex justify-content-center">
                <input id="search-category" type="search" placeholder="nhập tên để tìm.." />
            </div>
            <div class="modal-body overflow-scroll" style="height:400px">
                <table class="table table-hover">
                    <tbody>
                        @foreach (var category in categoryList)
                        {
                            <tr>
                                <th class="category-name" scope="row">@category</th>
                                @if (Model != null && Model.Contains(category))
                                {
                                    <td>
                                        <button name="@category" class="btn btn-success add-cate-btn">Đã thêm</button>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <button name="@category" class="btn btn-info add-cate-btn">thêm</button>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button onclick="hideModalCategory()" type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button id="confirm-modal-category-btn" type="button" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/Admin/Movie/ModalCategory.js"></script>