@model List<string>
@inject AppDbContext Db
@{
    // Khởi tạo list cast
    var castList = new List<string>();
    Db.Casts.ToList().ForEach(c =>
    {
        castList.Add(c.Name);
    });

    string selectedCasts = String.Join(",", Model);
}

<div class="hidden-cast" hidden>
    @foreach (string c in Model)
    {
        <p>@c</p>
    }
</div>

<div id="modal-cast" class="modal" tabindex="-1" role="dialog" style="display:none; background-color:rgba(0,0,0,0.5)">
    <div class="modal-cast-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success">Chọn các diễn viên</h5>
                <button onclick="hideModalCast()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <p class="text-success">
                Các diễn viên đã chọn :
                <strong id="casts-text">@selectedCasts</strong>
            </p>
            <div class="d-flex justify-content-center">
                <input id="search-cast" type="search" placeholder="nhập tên để tìm.." />
            </div>
            <div class="modal-body overflow-scroll" style="height:400px">
                <table class="table table-hover">
                    <tbody>
                        @foreach (var cast in castList)
                        {
                            <tr>
                                <th class="cast-name" scope="row">@cast</th>
                                @if (Model != null && Model.Contains(cast))
                                {
                                    <td>
                                        <button name="@cast" class="btn btn-success add-cast-btn">Đã thêm</button>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <button name="@cast" class="btn btn-info add-cast-btn">thêm</button>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button onclick="hideModalCast()" type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button id="confirm-modal-cast-btn" type="button" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/Admin/Movie/ModalCast.js"></script>