@model MovieModel
@inject AppDbContext Db
@{
    ViewData["Title"] = "Thêm phim mới";

    var typeList = new SelectList(new List<string>{"Phim lẻ", "Phim bộ"});

    // Khởi tạo list category
    var categoryList = new List<string>();
    Db.Categories.ToList().ForEach(c =>
    {
        categoryList.Add(c.Name);
    });

    var categories = new SelectList(categoryList);

    // Khởi tạo list cast
    var castList = new List<string>();
    Db.Casts.ToList().ForEach(c =>
    {
        castList.Add(c.Name);
    });

    var casts = new SelectList(castList);

    // Khởi tạo list director
    var directorList = new List<string>();
    Db.Directors.ToList().ForEach(d =>
    {
        directorList.Add(d.Name);
    });

    var directors = new SelectList(directorList);

    // Khởi tạo list country
    var countryList = new List<string>();
    Db.Countries.ToList().ForEach(c =>
    {
        countryList.Add(c.Name);
    });

    var countries = new SelectList(countryList);
}

<h2 class="text-success">@ViewData["Title"]</h2>

<partial name="_StatusMessage" for="@TempData["status"]" />

<div class="mt-4">
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name">Tên phim</label>
            <input asp-for="Name" class="form-control" placeholder="Nhập tên phim">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <label asp-for="Description">Nội dung</label>
            <textarea asp-for="Description" class="form-control" placeholder="Nhập nội dung"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <label asp-for="ImageFile"></label>
            <input asp-for="ImageFile" type="file" class="form-control">
        </div>
        <div class="form-group mt-5">
            <label asp-for="ReleaseDate">Nhập ngày ra mắt</label>
            <input asp-for="ReleaseDate"/>
        </div>
        <div class="form-group mt-3">
		    <label class="me-3 mt-3 mb-3">Loại : </label>
            <select id="type-list" asp-items="@typeList" asp-for="Type"></select>
        </div>
        <div class="form-group mt-3">
            <label class="me-3 mt-3 mb-3">Thể loại : </label>
            <select id="select-category" class="select" multiple asp-items="@categories" asp-for="Categories">
            </select>
        </div>
        <div class="form-group mt-3">
            <label class="me-3 mt-3 mb-3">Diễn viên : </label>
            <select id="select-cast" class="select" multiple asp-items="@casts" asp-for="Casts">
            </select>
        </div>
        <div class="form-group mt-3">
            <label class="me-3 mt-3 mb-3">Đạo diễn : </label>
            <select id="select-director" class="select" multiple asp-items="@directors" asp-for="Directors">
            </select>
        </div>
        <div class="form-group mt-3">
            <label class="me-3 mt-3 mb-3">Quốc gia : </label>
            <select id="select-country" asp-items="@countries" asp-for="Country"></select>
        </div>
        <div id="select-video" class="mx-5">

        </div>
        <button type="submit" class="btn btn-primary mt-4">Tạo phim</button>
    </form>
</div>

@section Scripts {
    <partial name="/Views/Shared/_ValidationScriptsPartial.cshtml" />
    <script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
    <script type="text/javascript">
        $('.select').multipleSelect({
            selectAll: false,
            keepOpen: false,
            isOpen: false
        });

        // event khi change thẻ select loại phim
        $('#type-list').on('change', function (e) {

	        if ($(this).val() === 'Phim lẻ') {
            
                $('#select-video').html(
                    `<p class="text-success"> ** Video</p>
                    <label>Dán Url Video vào đây : </label>
                    <input placeholder="Url"/>`
                );
            
            } else if ($(this).val() === 'Phim bộ') {
            
                $('#select-video').html(
                    `<p class="text-success">Nhập số tập : </p>
                    <label>Số tập : </label>
                    <input id="select-episode" type="number" placeholder="0" />`
                );
                
                // blur khỏi thẻ input số tập thì sẽ sinh ra html tương ứng số tập
                $('#select-episode').on('blur', function(e) {
                    var episodeCount = $(this).val();
                    var episodeHtml = '';
                    for (let i = 1; i <= episodeCount; i++) {
                        episodeHtml = episodeHtml.concat(
                            `<div id="episodes" class="mx-5">
                            <label>Tập ${i} : </label>
                            <input placeholder="Dán Url vào đây"/>
                            </div>`
                        );
                    }

                    $('#select-video').html(
                        `<p class="text-success">Nhập số tập : </p>
                        <label>Số tập : </label>
                        <input id="select-episode" type="number" placeholder="${episodeCount}" />
                        ${episodeHtml}`                
                    );
                });
            }

		});
    </script>
}