@model Cast
@{
	ViewData["Title"] = Model.Name;
}

@if (Model.About != null)
{
	<h1 class="text-success mt-5 mb-2">Diễn viên: @Model.Name</h1>
    <div class="my-3">
        <img src="@(Model.Avatar ?? "/src/img/UserAvatars/default_avatar.png")" 
            class="avatar avatar-square img-fit" style="width: 200px; height:200px;">
    </div>
	<div class="px-3 py-2" style="background-color: #423e3e">
		<p>@Model.About</p>
	</div>
}
else
{
	<h1 class="text-success my-5">Diễn viên: @Model.Name</h1>
	<div class="my-3">
		<img src="@(Model.Avatar ?? "/src/img/UserAvatars/default_avatar.png")"
		 class="avatar avatar-square img-fit" style="width: 200px; height:200px;">
	</div>
}

<h2 class="text-success mt-5">Phim : </h2>
<partial name="_MovieContainerPartial" for="@Model.Movies"></partial>

@{
	PagingModel pagingModel = new PagingModel
			{
				NumberOfPages = (int)(TempData["NumberOfPages"] ?? 1),
				CurrentPage = (int)(TempData["CurrentPage"] ?? 1),
				Callback = (int page) => Url.Action(
					(TempData["Action"] ?? "Index").ToString(),
					"Cast",
					new
					{
						area = "",
						page = page,
						value = TempData["RouteValue"]
					})
			};
}

<partial name="/Views/Shared/_PagingPartial.cshtml" for="@pagingModel"></partial>