@model DirectorViewModel
@{
	ViewData["Title"] = Model.Name;
	ViewData["Description"] = "Đạo diễn " + Model.Name;
	ViewData["Image"] = Model.Avatar ?? "/src/img/UserAvatars/default_avatar.png";
}

@if (Model.About != null)
{
	<h1 class="text-success mt-5 mb-2">Đạo diễn: @Model.Name</h1>
	<div class="my-3">
		<img src="@(Model.Avatar ?? "/src/img/UserAvatars/default_avatar.png")"
		 class="avatar avatar-square img-fit" style="width: 200px; height:200px;">
	</div>
	<div class="px-3 py-2" style="background-color: #423e3e">
		<p>@Model.About</p>
	</div>
}
else
{
	<h1 class="text-success my-5">Đạo diễn: @Model.Name</h1>
	<div class="my-3">
		<img src="@(Model.Avatar ?? "/src/img/UserAvatars/default_avatar.png")"
		 class="avatar avatar-square img-fit" style="width: 200px; height:200px;">
	</div>
}

<h2 class="text-success mt-5 mb-2">Phim : </h2>
<div class="d-flex align-items-center flex-wrap">
	@await Component.InvokeAsync("Filter")
</div>

<partial name="_MovieContainerPartial" for="@Model.Movies"></partial>

@{
	PagingModel pagingModel = new PagingModel
			{
				NumberOfPages = Model.Movies.TotalPage,
				CurrentPage = Model.Movies.CurrentPage,
				Callback = (int page) => Url.Action(
					(ViewData["Action"] ?? "Index").ToString(),
					"Director",
					new
					{
						area = "",
						page = page,
						value = ViewData["RouteValue"]
					})
			};
}

<partial name="/Views/Shared/_PagingPartial.cshtml" for="@pagingModel"></partial>

@section Css{
	<link rel="stylesheet" href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css">
}

@section Scripts{
	<script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
	<script type="text/javascript">
		$(function () {
			$('.select').multipleSelect({
              selectAll: false,
              keepOpen: false,
              isOpen: false
			})

			$('.filter-form').submit(function (e) {
				e.preventDefault();

				if (!$(this).find('[name=country]').val().trim()) {
					$(this).find('[name=country]').removeAttr('name');
				};

				if (!$(this).find('[name=year]').val().trim()) {
					$(this).find('[name=year]').removeAttr('name');
				};

				if (!$(this).find('[name=orderBy]').val().trim()) {
					$(this).find('[name=orderBy]').removeAttr('name');
				};

				if (!$(this).find('[name=type]').val().trim()) {
					$(this).find('[name=type]').removeAttr('name');
				};

				this.submit();
			})
		})
	</script>
}