@model ModalDirectorModel
@{
    Model.Directors ??= new List<string>();
    Model.SelectedDirectors ??= new List<string>();
    string selectedDirectors = String.Join(",", Model.SelectedDirectors);
}

<div class="hidden-director" hidden>
    @foreach (string d in Model.SelectedDirectors)
    {
        <p>@d</p>
    }
</div>

<div id="modal-director" class="modal" tabindex="-1" role="dialog" style="display:none; background-color:rgba(0,0,0,0.5)">
    <div class="modal-director-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success">Chọn các đạo diễn</h5>
                <button onclick="hideModalDirector()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <p class="text-success">
                Các đạo diễn đã chọn :
                <strong id="directors-text">@selectedDirectors</strong>
            </p>
            <div class="d-flex justify-content-center">
                <input id="search-director" type="search" placeholder="nhập tên để tìm.." />
            </div>
            <div class="modal-body overflow-scroll" style="height:400px">
                <table class="table table-hover">
                    <tbody>
                        @foreach (var director in Model.Directors)
                        {
                            <tr>
                                <th class="director-name" scope="row">@director</th>
                                @if (Model != null && Model.SelectedDirectors.Contains(director))
                                {
                                    <td>
                                        <button name="@director" class="btn btn-success add-director-btn">Đã thêm</button>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <button name="@director" class="btn btn-info add-director-btn">thêm</button>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button onclick="hideModalDirector()" type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button id="confirm-modal-director-btn" type="button" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/Admin/Movie/ModalDirector.js"></script>