@model HomeViewModel
@{
    ViewData["Title"] = "Trang chủ";
    
    int listMovieRandomLength = Model.ListRandomMovies != null ? Model.ListRandomMovies.Count : 0;

    int listMovieNewLength = Model.ListMovieNew != null ? Model.ListMovieNew.Length : 0;

    int listMovieTopRatingLength = Model.ListMovieTopRating != null ? Model.ListMovieTopRating.Length : 0;

    int listPhimLeLength = Model.ListPhimLe != null ? Model.ListPhimLe.Length : 0;

    int listPhimBoLength = Model.ListPhimBo != null ? Model.ListPhimBo.Length : 0;
}

<div class="row mb-5 mt-5 random-movies">
    <div id="carouselExampleIndicators" class="carousel slide col-lg-9 col-12 h-100" data-bs-ride="true">
        <div class="carousel-indicators">
            @for (int i = 0; i < listMovieRandomLength; i++)
            {
                <button type="button" data-bs-target="#carouselExampleIndicators" 
                    data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")" 
                    aria-current="true" aria-label="Slide @(i+1)">
                </button>
            }
        </div>
        <div class="carousel-inner h-100">
            @{
                bool first = true;
                
                if(Model.ListRandomMovies != null)
                {
                    foreach (var movie in Model.ListRandomMovies)
                    {
                        <div class="carousel-item h-100 @(first ? "active" : "")">
                            <img src="@movie.Image" class="img-fit w-100 h-100" alt="...">
                            <a asp-area="" asp-controller="Movie" asp-action="Detail" asp-route-id="@movie.Id" class="d-block position-absolute play-btn">
                                <i class="bi bi-play-circle-fill"></i>
                            </a>
                            <div class="carousel-caption d-none d-md-block background-blur" style="display: block !important">
                                <h5 class="text-success">@movie.TranslateName</h5>
                                <p class="movie-slide-desc">@movie.Description</p>
                            </div>
                        </div>
                        first = false;
                    }
                }
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon background-blur" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon background-blur" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="movie-slide d-lg-block d-none col-3 h-100 overflow-auto">
        @{
            bool first2 = true;

            if (Model.ListRandomMovies != null)
            {
                foreach (var movie in Model.ListRandomMovies)
                {
                    <a asp-area="" asp-controller="Movie" asp-action="Detail" asp-route-id="@movie.Id" class="movie-slide-item @(first2 ? "active" : "") row py-2">
                        <div class="col-5 h-100">
                            <img src="@movie.Image" class="img-fit w-100 h-100" alt="">
                        </div>
                        <div class="col-7">
                            <p class="movie-slide-name text-success text-truncate my-0">@movie.TranslateName</p>
                            <p class="movie-slide-desc my-0">@movie.Description</p>
                        </div>
                    </a>

                    first2 = false;
                }
            }
        }
    </div>
</div>

<!-- New Movies -->
<div class="movie-container mb-5">
    <div class="mb-4 position-relative">
        <h3 class="text-success text-uppercase">phim mới cập nhật</h3>
        <a class="btn btn-success position-absolute end-0 top-0" asp-area="" asp-controller="Movie" asp-action="Index">Xem tất cả</a>
    </div>
    <div class="w-100">
        <div class="d-flex flex-wrap movie-row">
            @if (Model.ListMovieNew != null && listMovieNewLength > 0)
            {
                <div class="movie-item movie-item-large">
                    <a asp-area="" asp-controller="Movie" asp-action="Detail" asp-route-id="@Model.ListMovieNew[0].Id" class="movie-item-body">
                        <img src="@(Model.ListMovieNew[0].Image ?? "~/src/img/UserAvatars/default_avatar.png")" class="w-100 h-100 img-fit">
                        <p class="movie-item-name background-blur text-truncate w-100">@Model.ListMovieNew[0].TranslateName</p>
                        <p class="movie-status">@Model.ListMovieNew[0].StatusToString</p>
                    </a>
                </div>   
            }
            <div class="col row row-cols-lg-3 row-cols-2 flex-wrap movie-row movie-row-6">
                @if (Model.ListMovieNew != null)
                {
                    for (int i = 1; i <= 6; i++)
                    {
                        if (i >= listMovieNewLength) break;

                        <div class="movie-item">
                            <a asp-area="" asp-controller="Movie" asp-action="Detail" asp-route-id="@Model.ListMovieNew[i].Id" class="movie-item-body">
                                <img src="@(Model.ListMovieNew[i].Image ?? "~/src/img/UserAvatars/default_avatar.png")"
                                    class="w-100 h-100 img-fit">
                                <p class="movie-item-name background-blur text-truncate w-100">@Model.ListMovieNew[i].TranslateName</p>
                                <p class="movie-status">@Model.ListMovieNew[i].StatusToString</p>
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="row row-cols-lg-5 row-cols-2 movie-row">
            @if (Model.ListMovieNew != null)
            {
                for (int i = 7; i <= 11; i++)
                {
                    if (i >= listMovieNewLength) break;

                    <div class="movie-item">
                        <a asp-area="" asp-controller="Movie" asp-action="Detail" asp-route-id="@Model.ListMovieNew[i].Id" class="movie-item-body">
                            <img src="@(Model.ListMovieNew[i].Image ?? "~/src/img/UserAvatars/default_avatar.png")"
                                class="w-100 h-100 img-fit">
                            <p class="movie-item-name background-blur text-truncate w-100">@Model.ListMovieNew[i].TranslateName</p>
                            <p class="movie-status">@Model.ListMovieNew[i].StatusToString</p>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</div>

<!-- Top Rating Movies -->
<div class="movie-container mb-5">
    <div class="mb-4 position-relative">
        <h3 class="text-success text-uppercase">Top Rating</h3>
        <a class="btn btn-success position-absolute end-0 top-0" href="/Movie/top-rating">Xem tất cả</a>
    </div>
    <div class="w-100">
        <div class="d-flex flex-wrap movie-row">
            @if (Model.ListMovieTopRating != null && listMovieTopRatingLength > 0)
            {
                <div class="movie-item movie-item-large">
                    <a asp-area="" asp-controller="Movie" asp-action="Detail" asp-route-id="@Model.ListMovieTopRating[0].Id" class="movie-item-body">
                        <img src="@(Model.ListMovieTopRating[0].Image ?? "~/src/img/UserAvatars/default_avatar.png")" 
                            class="w-100 h-100 img-fit">
                        <p class="movie-item-name background-blur text-truncate w-100">@Model.ListMovieTopRating[0].TranslateName</p>
                        <p class="movie-status">@Model.ListMovieTopRating[0].StatusToString</p>
                    </a>
                </div>
            }
            <div class="col row row-cols-lg-3 row-cols-2 flex-wrap movie-row movie-row-6">
                @if (Model.ListMovieTopRating != null)
                {
                    for (int i = 1; i <= 6; i++)
                    {
                        if (i >= listMovieTopRatingLength) break;

                        <div class="movie-item">
                            <a asp-area="" asp-controller="Movie" asp-action="Detail" asp-route-id="@Model.ListMovieTopRating[i].Id" class="movie-item-body">
                                <img src="@(Model.ListMovieTopRating[i].Image ?? "~/src/img/UserAvatars/default_avatar.png")"
                                     class="w-100 h-100 img-fit">
                                <p class="movie-item-name background-blur text-truncate w-100">@Model.ListMovieTopRating[i].TranslateName</p>
                                <p class="movie-status">@Model.ListMovieTopRating[i].StatusToString</p>
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="row row-cols-lg-5 row-cols-2 movie-row">
            @if (Model.ListMovieTopRating != null)
            {
                for (int i = 7; i <= 11; i++)
                {
                    if (i >= listMovieTopRatingLength) break;

                    <div class="movie-item">
                        <a asp-area="" asp-controller="Movie" asp-action="Detail" asp-route-id="@Model.ListMovieTopRating[i].Id" class="movie-item-body">
                            <img src="@(Model.ListMovieTopRating[i].Image ?? "~/src/img/UserAvatars/default_avatar.png")"
                                class="w-100 h-100 img-fit">
                            <p class="movie-item-name background-blur text-truncate w-100">@Model.ListMovieTopRating[i].TranslateName</p>
                            <p class="movie-status">@Model.ListMovieTopRating[i].StatusToString</p>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</div>

<!-- Top phim lẻ -->
<div class="movie-container mb-5">
    <div class="mb-4 position-relative">
        <h3 class="text-success text-uppercase">Phim lẻ</h3>
        <a class="btn btn-success position-absolute end-0 top-0" href="/Movie/phim-le">Xem tất cả</a>
    </div>
    <div class="w-100">
        <div class="d-flex flex-wrap movie-row">
            @if (Model.ListPhimLe != null && listPhimLeLength > 0)
            {
                <div class="movie-item movie-item-large">
                    <a asp-area="" asp-controller="Movie" asp-action="Detail" asp-route-id="@Model.ListPhimLe[0].Id" class="movie-item-body">
                        <img src="@(Model.ListPhimLe[0].Image ?? "~/src/img/UserAvatars/default_avatar.png")"
                            class="w-100 h-100 img-fit">
                        <p class="movie-item-name background-blur text-truncate w-100">@Model.ListPhimLe[0].TranslateName</p>
                        <p class="movie-status">@Model.ListPhimLe[0].StatusToString</p>
                    </a>
                </div>
            }
            <div class="col row row-cols-lg-3 row-cols-2 flex-wrap movie-row movie-row-6">
                @if (Model.ListPhimLe != null)
                {
                    for (int i = 1; i <= 6; i++)
                    {
                        if (i >= listPhimLeLength) break;

                        <div class="movie-item">
                            <a asp-area="" asp-controller="Movie" asp-action="Detail" asp-route-id="@Model.ListPhimLe[i].Id" class="movie-item-body">
                                <img src="@(Model.ListPhimLe[i].Image ?? "~/src/img/UserAvatars/default_avatar.png")"
                                     class="w-100 h-100 img-fit">
                                <p class="movie-item-name background-blur text-truncate w-100">@Model.ListPhimLe[i].TranslateName</p>
                                <p class="movie-status">@Model.ListPhimLe[i].StatusToString</p>
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="row row-cols-lg-5 row-cols-2 movie-row">
            @if (Model.ListPhimLe != null)
            {
                for (int i = 7; i <= 11; i++)
                {
                    if (i >= listPhimLeLength) break;

                    <div class="movie-item">
                        <a asp-area="" asp-controller="Movie" asp-action="Detail" asp-route-id="@Model.ListPhimLe[i].Id" class="movie-item-body">
                            <img src="@(Model.ListPhimLe[i].Image ?? "~/src/img/UserAvatars/default_avatar.png")"
                                class="w-100 h-100 img-fit">
                            <p class="movie-item-name background-blur text-truncate w-100">@Model.ListPhimLe[i].TranslateName</p>
                            <p class="movie-status">@Model.ListPhimLe[i].StatusToString</p>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</div>

<!-- Top Phim bộ -->
<div class="movie-container mb-5">
    <div class="mb-4 position-relative">
        <h3 class="text-success text-uppercase">Phim bộ</h3>
        <a class="btn btn-success position-absolute end-0 top-0" href="/Movie/phim-bo">Xem tất cả</a>
    </div>
    <div class="w-100">
        <div class="d-flex flex-wrap movie-row">
            @if (Model.ListPhimBo != null && listPhimBoLength > 0)
            {
                <div class="movie-item movie-item-large">
                    <a asp-area="" asp-controller="Movie" asp-action="Detail" asp-route-id="@Model.ListPhimBo[0].Id" class="movie-item-body">
                        <img src="@(Model.ListPhimBo[0].Image ?? "~/src/img/UserAvatars/default_avatar.png")"
                            class="w-100 h-100 img-fit">
                        <p class="movie-item-name background-blur text-truncate w-100">@Model.ListPhimBo[0].TranslateName</p>
                        <p class="movie-status">@Model.ListPhimBo[0].StatusToString</p>
                    </a>
                </div>
            }
            <div class="col row row-cols-lg-3 row-cols-2 flex-wrap movie-row movie-row-6">
                @if (Model.ListPhimBo != null)
                {
                    for (int i = 1; i <= 6; i++)
                    {
                        if (i >= listPhimBoLength) break;

                        <div class="movie-item">
                            <a asp-area="" asp-controller="Movie" asp-action="Detail" asp-route-id="@Model.ListPhimBo[i].Id" class="movie-item-body">
                                <img src="@(Model.ListPhimBo[i].Image ?? "~/src/img/UserAvatars/default_avatar.png")"
                                    class="w-100 h-100 img-fit">
                                <p class="movie-item-name background-blur text-truncate w-100">@Model.ListPhimBo[i].TranslateName</p>
                                <p class="movie-status">@Model.ListPhimBo[i].StatusToString</p>
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="row row-cols-lg-5 row-cols-2 movie-row">
            @if (Model.ListPhimBo != null)
            {
                for (int i = 7; i <= 11; i++)
                {
                    if (i >= listPhimBoLength) break;

                    <div class="movie-item">
                        <a asp-area="" asp-controller="Movie" asp-action="Detail" asp-route-id="@Model.ListPhimBo[i].Id" class="movie-item-body">
                            <img src="@(Model.ListPhimBo[i].Image ?? "~/src/img/UserAvatars/default_avatar.png")"
                                class="w-100 h-100 img-fit">
                            <p class="movie-item-name background-blur text-truncate w-100">@Model.ListPhimBo[i].TranslateName</p>
                            <p class="movie-status">@Model.ListPhimBo[i].StatusToString</p>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        // tính khoảng cách giữa các item
        var distance = $('.movie-slide-item:nth-child(2)').offset().top - $('.movie-slide').offset().top;

        const myCarousel = document.getElementById('carouselExampleIndicators');
    
        // event khi slide của bootstrap đã chuyển thì update movie-slide
        myCarousel.addEventListener('slid.bs.carousel', event => {

            // lấy position của .carousel-item.active
            var inx = $('.carousel-item.active').index();
         
            $('.movie-slide-item.active').removeClass('active');
            $(`.movie-slide-item:nth-child(${(inx + 1)})`).addClass('active');

            $('.movie-slide').animate(
                {
                    scrollTop: inx * distance
                },
                800 //speed
            );
        });
    </script>
}